.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-user-pass-container{
  background-color: rgba(128, 128, 128, 0.216);
  border-radius: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 30vh;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #e97400;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(255, 153, 0);
}

.debug-todo-btn{
  margin-top: 15px;
}

.form-user-pass-label{
  font-size: 18px;
  font-weight: bold;
}