.todo-page {
    text-align: center;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: calc(12px + 2vmin);
  }
  
  .todo-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .todo-input input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    box-sizing: border-box;
  }
  
  .todo-input button {
    padding: 10px;
    margin-right: 10px;
    background-color: #e97400;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .todo-input button:hover {
    background-color: rgb(255, 153, 0);
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
    font-size: calc(10px + 1vmin);
  }
  
  .todo-list li {
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.216);
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: left;
    width: 250px;
  }  